.progress {
	width: 500px;
	height: 30px;
	background-color: #E2E5E7;
	border-radius: 50px;
	overflow: hidden;
}

.progress-bar {
	height: 100%;
	border-radius: 50px;
	background-color: var(--color-basic);
}
